version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    # Cooldown
    cooldown:
      default-days: 7
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    # Cooldown
    cooldown:
      default-days: 7
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: monthly
    # Cooldown
    cooldown:
      default-days: 7
