services:
  dead_man_switch:
    image: ghcr.io/storopoli/dead_man_switch-web:latest
    ports:
      - "3000:3000"
    environment:
      # Optional environment variables
      - PUID=1000
      - PGID=10000
      - PRINT_USER_CONFIG=true
    volumes:
      # path-to-config-dir:/config
      - "./my-config-dir:/config"

      # Optionally, specify config.toml as read-only
      # - "./my-config-dir/config.toml:/config/config.toml:ro"
