[package]
name = "dead-man-switch-web"
edition = "2021"
version = "0.5.0"
authors = ["Jose Storopoli <jose@storopoli.io>"]
description = "A simple no-BS Dead Man's Switch Web Interface"
license = "AGPL-3.0-only"
readme = "../../README.md"

[dependencies]
dead-man-switch.workspace = true

zeroize.workspace = true

anyhow = "1.0.92"
askama = "0.12.1"
axum = "0.7.9"
serde = { version = "1.0.215", features = ["derive"] }
tokio = { version = "1.41", features = ["rt-multi-thread", "macros"] }
tower-http = { version = "0.6.1", features = ["tracing", "trace", "cors"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.19"

# Auth handling
axum-extra = { version = "0.9.4", features = ["cookie", "cookie-private"] }
bcrypt = "0.16.0"

# Rate limiting
tower = { version = "0.5.1", features = ["buffer", "limit"] }
